.card {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all .8s ease;
  color: white;
  height: 280px; 

  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px -130px 100px 0px rgba(255, 255, 255, 0.35) inset;

  gap: 10px;
  flex: 1 0 0;
  padding: 0;
}

.cardActive{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all .4s ease;
  color: white;
  height: 280px; 

  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px -130px 100px 0px rgba(255, 255, 255, 0.35) inset;

  gap: 10px;
  flex: 1 0 0;
  padding: 0;


  /*  */
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.00);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 40px 74px 0px #6686E5 inset, 0px 70px 124px 0px #FA8370 inset, 0px 140px 134px 0px #E6476F inset, 0px 0px 114px 0px rgba(255, 255, 255, 0.65) inset;
}

.cardContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transition: all .4s ease; */


  justify-content: center;
  align-items: center;
  text-align: center;
}

.cardActive .cardContent{
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card p{
  position: absolute;
  bottom: 48%;
  transition: bottom .4s ease;
}

.cardActive p{
  position: absolute;
  bottom: 10%;
  transition: bottom .8s ease;

}

/* .deviceInfoButton{
  display: block;
  position: absolute;
  top: 0;
  right: 0;

} */
.card .iconButton,
.cardActive .iconButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-right: 0;
  border-top-right-radius: 30px;
  /* background-color: #E6476F; */
}